# Python basics
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Virtual Environment
.venv/
env/
venv/

# IDE settings
.idea/
.vscode/

# Project specific
*.log
 
data/rates.json
data/exchange_rates.json

# MacOS
.DS_Store