# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

#  Distribution / Packaging 
dist/
build/
*.egg-info/

# Virtual Environment 
.venv/
env/
venv/
.env

# IDE Settings 
.idea/
.vscode/
*.swp

# Logs 
*.log
logs/*.log

# Application Data
data/*.json

# OS Specific 
.DS_Store
Thumbs.db